html, body{
    height:100%;
    background-color: #AAA;
    background-image: url('../images/hypnotize.png')
   }

.header{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    display: block;
}
.titleName{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    background-color: #4ba9a5; 
    width: 200px;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    padding: auto;
    display: inline-block;
    color: fill;
    float: left;
    text-decoration: none;
    }



.center{
    max-width: 960px;
    margin: auto;
   
}
    

.mainSection{
    width: 590px;
    float: left;
    background-color:#ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style:solid;
    margin-right: 35px;
    margin-bottom: 50px;
    padding:30px;}

.sideBar{
    width: 210px;
    float:left;
    background-color:#ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style:solid;
    padding: 30px;
    padding-bottom: 45px;
    margin-bottom:50px;
}

.pText {
    padding:20px;}

.navText{
    font-family: 'Lobster', cursive;
    font-size:16px;
    color: #4ba9a5;
    text-decoration: none;
}

.portText{
    font-family: 'Lobster', cursive;
    font-size:22px;
    color: #ffffff;
    text-decoration: none;
    width:280px;
    margin: auto;
    line-height: 1;
}

.sectionHead {
    font-size:24px;
    font-family: 'Lobster', cursive;
    color: #4ba9a5;
    margin-bottom:20px;
}
li {
        display: inline;
        margin-right:0px;
        line-height: 80px;        
    }










.floatRight{
    float:right;
    display: inline;
}

.floatRight a{
    font-size: 24px;
    margin-left: 10px;
    position: relative;}
.floatRight a:hover{
    background-color: #FF5599;
    top: 10%;}
.content{
    clear: both;}
img {
    border: 2px solid black;   
}

.containerAll {
      
    position:relative;
    min-height: 100%;
    margin-bottom: -60px;
}
.container{
    position: relative;
    width:280px;
    float: left;
    display: inline;
    text-decoration: none;
   }
.container:hover{color:pink;}
.example {
   position: absolute;
   bottom:20px;
   width: 270px;
   padding: 5px;
   background-color: #4ba9a5;
   border: 0px solid red;
   font-family: 'Lobster', cursive;
   text-align: center;
   color: white;
   background-color: #4ba9a5; 
   font-size: 22px;
}

.clearFooter {
    height: 50px;
    clear: both;
    }

.footer{
 /*    
    line-height: 50px;
    display:block; 
    clear: both;
   
*/
    position: relative;
    height:50px; 
    background-color:#666666;
    text-align: center;
    line-height: 50px;
    width:100%;
         
    border-top:10px;
    border-top-color:#4ba9a5;
    border-style: solid;
    color:white;
    font-size: 12px;
}
img {
    border: 0px solid black;   
}
  
    
}

.example {
   position: absolute;
   width:260px;
   height: 30px;
   bottom: 20px;
   left: 0px; 
   padding: 10px;
   background-color: #4ba9a5;
   border: 0px;
   text-align: center;
   font-family: 'Lobster', cursive;
   font-size:22px;
   color: #ffffff;
   text-decoration: none!important;
   z-index: 5;
   
}
.example:hover{background-color: pink; }

